

.header-landing{
    background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:60%;
}

.header-landing h1{
    color:white;
    text-align: center;
    font-size: 62px;
    font-style: italic;
}

.header-landing p{
    color:white;
    text-align: center;
    font-size:32px;
}

.navbar{
    height:15%;
}

.navbar ul{
    width:100%;
    height:100%;
    display:flex;
    gap:40px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    font-size: 22px;
   }

   .navbar ul li {
    list-style-type: none;
    color:white
   }

