.subheader-container{
    display:flex;
    gap:50px;
}

.subheader-items {
    height: 110px;
    width: 200px;
    display:flex;
    align-items:center;
    gap:10px;
}

.subheader-items a {
    color:black;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:70px;
    width:70px;
    padding:15px;
    border-radius: 50%;
    text-align: center;
}

.subheader-items img{
    height:30px;
    width:30px;
    
}

.subheader-items p{
    font-size:22px;
}

.isActive {
    text-decoration: none;
}

.deliveryActive{
    background:#fceec0; 
}
.diningActive{
    background:#e5f3f3; 
}
